//<%= request.env['HTTP_HOST'] %>
function show_message(message){
	pusher_message = $('<div class="pusher_message '+message.type+'">'+message.content+'</div>').css('display', 'none');
	pusher_message.appendTo($('#pusher_stack')).fadeIn(1000);
}

$('head').append('<link href="http://xenda-jarvis.heroku.com/javascripts/jarvis.css" media="screen" rel="stylesheet" type="text/css" />');

$(document).ready(function(){
	$('#pusher_stack .pusher_message').live('click', function(){
		$(this).fadeOut(function(){
			$(this).detach();
		});
	});
	
	$.getJSON('http://xenda-jarvis.heroku.com/latest.js?project=<%= @id %>&callback=?', function(data){
		$.each(data, function(index){
			var last_message = data[index];
			show_message(last_message);
		});
	});
});

$.getScript("http://js.pusherapp.com/1.7/pusher.min.js", function(){
	var pusher = new Pusher('90f6559f5192ab317c82');
	var channel = pusher.subscribe('xenda-jarvis-<%= @id %>');
	
	$('body').append('<div id="pusher_stack"></div>');
	
    channel.bind('create', function(data) {
    	$('div.pusher_message').detach();
    	
    	show_message(data);
    });
});