#pusher_stack{
	display:block;
	width:100%;
	position:absolute;
	z-index:100;
	top:0;
	left:0;
	font-family:'Segoe UI', Helvetica;
	font-size:14px;
}
.pusher_message{
	display:block;
	width:40%;
	max-width:50%;
	background:black;
	margin:5px auto;
	color:white;
	padding:6px 10px;
	padding-left:30px;
	border-radius:9px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	opacity:0.75;
	-moz-opacity:0.75;
	box-shadow:1px 1px 5px #666666;
	-webkit-box-shadow:1px 1px 5px #666666;
	-moz-box-shadow:1px 1px 5px #666666;
}
	.pusher_message.warning{
		background:black url('/images/warning.png') 8px center no-repeat;
	}
	.pusher_message.advice{
		background:black url('/images/advice.png') 8px center no-repeat;
	}
	.pusher_message.message{
		background:black url('/images/message.png') 8px center no-repeat;
	}