/* @override 
	http://localhost:3000/stylesheets/custom.css?1298569355
	http://localhost:3000/stylesheets/custom.css?1298576569
	http://localhost:3000/stylesheets/custom.css?1298577610
	http://localhost:3000/stylesheets/custom.css?1298578184
*/

body{
	background:url('/images/jarvis.png') left bottom fixed no-repeat;
}

h2 {
		font: italic 19px 'Droid Serif', serif;
	
}


h2.title {
	margin: 0px;
	font-size: 22px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: lowercase;
}
	

header, section{
	display:block;
	width:800px;
	margin:0 auto;
	padding:10px 10px;
}
header{
	background:#3a3a3a;
	border-top:#444444 solid 1px;
	border-bottom:#212121 solid 1px;
	overflow: auto;
	padding-bottom: 0px;
}

div#jarvis_isotipe {
	float: right;
	background: url(../images/assistant.png) no-repeat;
	text-indent: -9999px;
	width: 125px;
	height: 120px;
	margin-right: 20px;
}
	header a{
		color:#fefefe;
		text-decoration:none;
		font: italic 55px 'Droid Serif', serif;
		margin-left: 20px;
}
header h1 {
	margin: 0px;
}

div#jarvis_logo {
	margin-top: 10px;
	float: left;	
	text-shadow: #000 2px 2px 2px;

}

header h2 {
	text-shadow: #000 2px 2px 2px;
	margin-top: -7px;
		font: italic 16px 'Droid Serif', serif;
		margin-left: 36px;
	color: #9c9c9c;
	-moz-box-shadow: 5px;
	-webkit-box-shadow: 5px;
	box-shadow: 10px;
}
section{
	background:#e2e2e2;
	border-top:#ffffff solid 1px;
	border-bottom:#cecece solid 1px;
}
	section ul.projects, section ul.projects li, section ul.messages, section ul.messages li, section ul.details, section ul.details li{
		list-style:none;
		background:#eeeeee;
		border-top: 0 solid #fcfcfc;
		border-bottom:#dddddd solid 1px;
		padding:0;
		padding-bottom: 10px;
	}
			section ul.projects li h3{
				margin:0;
				padding:0;
				background: #1a78c4;
				border-bottom:#0056ad solid 1px;
			}
				section ul.projects h3 a{
					display:block;
					padding:10px 10px;
					color:white;
					text-decoration:none;
					font-family: 'Yanone Kaffeesatz', serif;
					letter-spacing: 1px;
				}
			section ul.projects li h4{
				margin:10px 15px;
			}
				section ul.projects li ul{
					margin:5px 25px;
				}
					section ul.projects li ul li{
						border:none;
					}
		section ul.messages li{
			padding:10px;
		}
		section ul.messages li.warning{
			background:url('/images/warning_black.png') 10px 10px no-repeat;
		}
		section ul.messages li.advice{
			background:url('/images/advice_black.png') 10px 10px no-repeat;
		}
		section ul.messages li.message{
			background:url('/images/message_black.png') 10px 10px no-repeat;
		}
			section ul.messages li p.jarvis_info{
				padding:2px;
				margin:0;
				text-align:right;
			}	
	section ul.details{
		padding:5px;
	}
	}
	section form .field label{
		vertical-align:text-top;
		width:200px;
	}
	section form .field textarea{
		vertical-align:text-top;
		height:70px;
	}
	section form #message_submit, section form #project_detail_submit{
		padding:10px 20px;
	}
	section .flash{
		display:block;
		padding:4px;
	}
	section .flash.warning{
		background:#fff884;
		border-top:#fefaad solid 2px;
		border-left:#fefaad solid 2px;
		border-right:#fff770 solid 2px;
		border-bottom:#fff770 solid 2px;
	}
	section .flash.message{
		background:#e0efff;
		border-top:#c1e0ff solid 2px;
		border-left:#c1e0ff solid 2px;
		border-right:#99cbff solid 2px;
		border-bottom:#99cbff solid 2px;
	}
	section #error_explanation{
		background:#ff877a;
		border-top:#ff998e solid 2px;
		border-left:#ff998e solid 2px;
		border-right:#ff6b5b solid 2px;
		border-bottom:#ff6b5b solid 2px;
	}
	section #error_explanation h2{
		font-size:16px;
		margin:0;
	}
	section #error_explanation ul, section #error_explanation ul li{
		margin:0;
		padding:0;
		list-style:none;
	}
	section #error_explanation ul li{
		padding:4px 10px;
		background:#ff5947;
		border-top:#ff6b5b solid 1px;
		border-bottom:#ff4633 solid 1px;
	}