<h2>Projects:</h2>
<ul class="projects">
<% unless @projects.empty? %>
	<% @projects.each do |project| %>
	<li>
		<h3><%= link_to project.name, project %></h3>
		<h4>Members</h4>
		<%= render 'projects/memberships', :members => project.members %>
	</li>
	<% end %>
<% end %>
</ul>