%ul.details
 - @project.details.each do |detail|
  %li
   %strong
    =detail.name
    \:
   =detail.value
   %p.float
    =link_to "Eliminar", detail, :method => :delete, :confirm => "You sure?"