%h2
 =link_to @project.name, @project

%h3 Members

=render 'projects/memberships', :members => @project.members

%h3 Details

= simple_form_for @detail do |f|
 =render 'shared/error_messages', :object => f.object
 .field
  =f.input :name
 .field
  =f.input :value
 .actions
  =f.input :project_id, :as => :hidden
  =f.button :submit

= render 'projects/details'

%h3 Messages

= simple_form_for @message do |f|
 =render 'shared/error_messages', :object => f.object
 .field
  =f.input :content, :as => :text
 .field
  =f.input :message_type, :collection => Message::TYPES, :prompt => false
 .actions
  =f.input :project_id, :as => :hidden
  =f.button :submit

= render 'projects/messages'