!!! 5
%html
%head
 %title
  Jarvis
  =title
 =stylesheet_link_tag 'blueprint/screen', :media => 'screen'
 =stylesheet_link_tag 'custom', :media => 'screen'
 =csrf_meta_tag
%body
 = render 'layouts/header'
 
 %section
  - flash.each do |key, value|
   =content_tag(:div, value, :class=> "flash #{key}")
  = yield